@media screen and (max-width:420px) {

    .carousel-item{
    height:400px;

    }
    .carousel-item img{
    width:200px !important;
    height: 200px !important;
    margin: 0 auto;
}
.carousel-control-prev{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    padding-right: 40px;
}
.carousel-control-next{
    position: absolute;
    top: 70%;
    padding-left: 40px;
    transform: translateY(-50%);
    position: absolute;

}
}
