/* Global CSS starts */



html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}

h1,h2,h3,h4,h5{
    font-family: 'Alegreya Sans SC', sans-serif;

}
span{
    font-size: 1.4rem;
    font-style: italic;
}
.hr-line{
    border:4px dotted #fff;
    border-bottom:none;
    border-left: none;
    border-right: none;
    width:40px;
    padding:5px;
}
.section-title h2{
    font-weight: bolder;
    margin-bottom:0;
}
.mail-case{
    text-transform: lowercase !important;
}


/* Global CSS ends */



/* Header CSS starts */



  header{
      overflow: hidden;
  }
 .nav-link{
    margin:10px;
    color:black  !important;
    opacity:1;
    font-weight: 700;
    border-radius:5px;
    background: #f39c12;
    transition: .4s;
    

}
  
.nav-link:hover{
    background:#4cd137;
    transform:scale(1.1);

   
}


.navbar-brand{
    background: transparent;
}
 .banner h1{
    
    background: rgba(100, 20, 100, .7);
    padding:10px;
}
header{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-container{
    height:80vh;
}

.navbar{
    background: black;
    opacity: .9;
    padding:.2% 5%;
}
.nav-link{
    font-size: 1.6rem;
}
.navbar-icon{
    color:#fff;
}

.navbar-brand img{
width:130px;
height:auto;
}
.button{
    padding:8px 20px;
    width:200px;
    color:#15f4ee;
    font-family: 'Alegreya Sans SC', sans-serif;
    background: #000;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    border-radius:100px;
    cursor:pointer;
    transition: .3s;
    outline: none;
    border:1px solid #008891;

}
.button:hover{
    color:#af0098;
    outline: none;
    border:1px solid #af0098;

    
    transform:scale(1.008);
}
/* Header CSS ends */




/* Features CSS starts */
.features{
    overflow: hidden;
    background: #845ec2;
    color:#fff;
}
.features h5{
    font-size: 1.8rem;
}
.features p{
    font-size: 1.6rem;
}
.features-item{

    padding:10px;
    background:#af0069;
}
.icon-style{
    background: #120078;
}
.features-con{
    transition: .5s;
}
.features-item:hover{
    transform:scale(1.08);
    transition: .5s;
    box-shadow:1px 4px 6px 0 #000;


}
/* Features CSS ends */





/* About Me CSS starts */


#about-me{
    background: #314e52;
    color:#fff;
    overflow: hidden;

}
#about-me p,
#about-me a
{
    font-size: 1.6rem;
}
.weblink{
    text-decoration: underline;
}
.btn-style{
    background: #4cd137;
    color:#fff;

}
.btn-style a{
    color:#fff;
    text-decoration: none;

}
button{
    transition:.5s;
}
.btn-style:hover{
    background: #6930c3;
}
.achieve-desc span{
    color:#00af91;
    font-style: italic;
}




/* about me section ends */

/* tutorials section starts */

.tutorials-section{
    background: #008891;
    overflow: hidden;

    
}


.card-body{
    background:#6930c3;
    box-shadow:1px 4px 6px 0 #000;
    cursor:pointer;
    transition: .3s;

}
.card-body:hover{
    transform: scale(1.03);
}
.card-text{
    font-size: 1.2rem;
}

/* tutorials section ends*/


/* feedback section starts */

.feedback{
    background: #5b5b5b;
    text-align: center;
    padding: 5%;
    font-size: 1.6rem;
}


.carousel-item{
    text-align: center;
    padding:5% 5%;
    color:#fff;
    margin:0 auto;
    
    /* position:absolute; */
    /* top: 50%;
    left:50%;
    transform:translate(-50%,-50%); */
    
    
}

.carousel-item img{
    width:300px;
    height:300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;

}
.slide{
    position: relative;
}


/* feedback section ends */


/* contact us section starts */
.contact-me{
    background: #e7e6e1;
}
.contact-me .hr-line{
    border:4px dotted #5b5b5b;
    border-bottom:none;
    border-left: none;
    border-right: none;
    width:40px;
    padding:5px;
}
form{
    width:70%;
    font-size: 1.6rem;
}
form input{
    padding: .5rem 0  !important;
}
form button{
    font-size: 1.4rem !important;
}

/* contact us section ends */

/* footer section starts */
footer{
    background: #0a043c;
    padding:1% 5%;
}
footer span{
    font-style: normal;
}
.social-icon i{
    margin-right:10px;
    cursor:pointer;
    padding:2px;
    font-size: 1.6rem;
}
.social-icon a{
    color:#fff;
}

/* footer section ends */








